/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery Delivery App  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2021-present initappz.
*/
.couponDesc {
    margin: 0px;
    .code {
        font-weight: bold;
        font-size: 14px;
    }
    .desc {
        font-size: 12px;
    }
}
